#msg-box4-7 .mbr-header__text {
  color: #553982;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #553982;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #faaf40;
}
#menu-0 .mbr-navbar__section {
  background: #faaf40;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-k P {
  color: #ffffff;
}
#msg-box2-t .mbr-header .mbr-header__text {
  color: #553982;
}
#msg-box2-t .mbr-article {
  color: #252525;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #faaf40;
}
#menu-g .mbr-navbar__section {
  background: #faaf40;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-m .mbr-header .mbr-header__text {
  text-align: center;
  color: #553982;
}
#msg-box3-m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-m .mbr-article {
  color: #553982;
}
#msg-box3-m .mbr-article P {
  text-align: center;
}
#footer1-k P {
  color: #ffffff;
}
#menu-h .mbr-brand__name {
  font-size: 16px;
}
#menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #faaf40;
}
#menu-h .mbr-navbar__section {
  background: #faaf40;
}
#menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts2-o P {
  color: #553982;
}
#contacts2-o DIV {
  color: #553982;
}
#footer1-k P {
  color: #ffffff;
}
